.buttons button {
  padding: 0.5em;
  width: 33.33%;
  text-align: start;
  background-color: transparent;
  /* border-radius: 16px; */
}
.main--button {
  border: none;
  border-right: 1px solid grey;
}
button:focus {
  border: 2px solid black;
  border-radius: 16px;
  transition: all ease 0.5s;
}
.various--options {
  width: 70%;
  margin: 2em auto;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

}
.search--buttons {
  background: rgba(235, 87, 87, 0.9);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  display: flex;
  padding: 1em;
  width: 20%;
  border-radius: 18px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.search--buttons img {
  width: 10%;
}
.upper {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #333333;
}
.lower {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.location--option {
  display: flex;
  justify-content: space-between;
}
.box--1,
.box--2,
.box--3 {
  transition: all ease-in-out 0.5s;
  width: 32%;
  padding: 0.5em;
}
.location {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}
.location img {
  width: 20px;
  height: 20px;
}
.minus,
.plus {
  font-family: "Mulish";
  cursor: pointer;
  padding: 0em;
  height: 23px;
  width: 23px;
  border: 1px solid #828282;
  border-radius: 4px;
  color: rgba(130, 130, 130, 1);
}
.guestsValue {
  width: 20%;
  padding: 0.5em;
  border: none;
}
.low,
.upp {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.low {
  color: rgba(189, 189, 189, 1);
  font-weight: 400;
}
.swift {
  opacity: 0 ;
  transition: all ease-in-out 0.5s;
}
.mobileSearch--buttons {
  display: none;
}
@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
    align-items: start;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
  }
  .swift {
    display:none;
  }
  .buttons button {
    width: 100%;
    padding: 0.7em;
    margin: auto 0.2em;
  }
  .main--button {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
  }
  .search--buttons {
    display: none;
  }
  .guestBtn {
    border-bottom: none;
  }
  .mobileSearch--buttons {
    background: rgba(235, 87, 87, 0.9);
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #f2f2f2;
    display: flex;
    padding: 1em;
    width: 40%;
    border-radius: 18px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
  .box--1,
  .box--2 {
    height: 350px;
  }
}
